{% extends "_base.html" %}

{% block title %}About Us{% endblock %}
{% block main %}
    <div class="mx-auto my-4 p-3 border border-2 border-info rounded w-50 about">
        <h1 class="text-info mb-3 display-5">About Us</h1>
        <p class="fs-4 mb-3 text-light">
        Play2Learn was founded with the idea of making learning fun for everyone. By introducing games into the realm of
        education we seek to help young people sharpen their skills in English and mathematics. Through methods like high
        scores and timed-based challenges, we hope to encourage students to challenge themselves and improve their
        understanding of the concepts we cover. Play2Learn believes that education doesn't have to be done through
        traditional pencil and paper methods and we strive to find new ways to make learning fun for students.
        </p>
    </div>
{% endblock %}