<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/874dd9899f.js" crossorigin="anonymous"></script>
<title>{% block title %}{% endblock %} | Play 2 Learn</title>
</head>
<body>
<header>
  <nav
    class="navbar navbar-dark bg-primary navbar-expand-md d-flex justify-content-between border-bottom border-2 border-info bg-transparent">
    <div class="container-fluid">
      <a to="/" class="text-info text-decoration-none">
        <h1 class="font-weight-bold display text-info display-4">Play 2 Learn</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a to="/" class="nav-link fs-3 font-weight-bold text-info">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fs-3 dropdown-toggle font-weight-bold text-info" role="button" id="navbar-dropdown"
            data-bs-toggle="dropdown">
            Games
          </a>
          <div class="dropdown-menu bg-dark border-2 border-info p-2">
            <a to="/MathConfig" class="dropdown-item fs-3 font-weight-bold text-info">Math Facts</a>
            <a to="/AnagramConfig" class="dropdown-item fs-3 font-weight-bold text-info">Anagram
              Hunt</a>
          </div>
        </li>
        <li class="nav-item">
          <a to="/AboutComp" class="nav-link fs-3 font-weight-bold text-info">About</a>
        </li>
        <li class="nav-item">
          <a to="/LoginComp" class="nav-link fs-3 font-weight-bold text-nowrap text-info">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="m-4 pb-5">
  {% block main %}<h2>Welcome!</h2>{% endblock %}
</main>
<footer class="d-flex justify-content-between border-top border-info border-2 p-3 w-75 mx-auto align-items-center fixed-bottom bg-dark flex-md-row flex-column flex-column-reverse">
  <p class="text-light">&copy; 2022 Play2Learn</p>
  <address>
      <a to="/ContactComp" class="text-decoration-none fs-4">
          <i class="fa-solid fa-square-envelope fa-3x text-info"></i>
      </a>
      <a class="text-decoration-none fs-4" href="https://www.facebook.com">
          <i class="fa-brands fa-facebook-square fa-3x text-info"></i>
      </a>
      <a class="text-decoration-none fs-4" href="https://twitter.com">
          <i class="fa-brands fa-twitter-square fa-3x text-info"></i>
      </a>
      <a class="text-decoration-none fs-4" href="https://instagram.com">
          <i class="fa-brands fa-instagram-square fa-3x text-info"></i>
      </a>
  </address>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>